
<main>
    <section class="form-section">
        <img src="/assets/img/logo.png" class="logo"/>
        <h2>
            {{title}}
        </h2>
        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>
            <div class="divider"> 
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button class="btn-secundary">{{secundaryBtnText}}</button>
        </div>
        
    </section>
    <section class="main-section">
        <h2>Bem vindo, ao Ci Pedreiro</h2>
        <img src="/assets/img/page.png" class="page-img"/>
    </section>
</main>
